# ファイル種別とscopeの対応は, 各言語パッケージのSettingsから見れる.
# このファイルは, 再起動せずとも再読込される.

'*':
  # Hashコメントを旗みたいに囲うやつ(ハイフン70個)
  'HashCommentBlock70':
    'prefix': 'hcb7'
    'body': """
      # ----------------------------------------------------------------------
      # ${1:title}
      # ----------------------------------------------------------------------
    """
  # Hashコメントを旗みたいに囲うやつ(ハイフン50個)
  'HashCommentBlock50':
    'prefix': 'hcb5'
    'body': """
      # --------------------------------------------------
      # ${1:title}
      # --------------------------------------------------
    """
  # セミコロンコメントを旗みたいに囲うやつ(ハイフン70個)
  'SemiColonCommentBlock70':
    'prefix': 'scb7'
    'body': """
      ; ----------------------------------------------------------------------
      ; ${1:title}
      ; ----------------------------------------------------------------------
    """
  # セミコロンコメントを旗みたいに囲うやつ(ハイフン50個)
  'SemiColonCommentBlock50':
    'prefix': 'scb5'
    'body': """
      ; --------------------------------------------------
      ; ${1:title}
      ; --------------------------------------------------
    """

'.source.ruby':
  'FrozenStringLiteral':
    'prefix': 'frozen'
    'body': '# frozen_string_literal: true'

  'RSpec describe':
    'prefix': 'describe'
    'body': """
      describe ${1} do
        ${2}
      end
    """

  'RSpec it':
    'prefix': 'it'
    'body': """
      it '${1}' do
        ${2:skip}
      end
    """
